.document {
  line-height: 1.5em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.node {
  position: relative;
  padding-left: 25px;
}
.node.is-root > .node-self {
  font-size: 24px;
}

.node:not(.is-root):not(:last-child)::before {
  position: absolute;
  content: '';
  left: 5px;
  display: block;
  background: #ccc;
  width: 1px;
  height: 100%;
}

.node-self {
  position: relative;
  margin-bottom: 10px;
  outline: none;
}

.node:not(.is-root) .node-self::before,
.node:not(.is-root) .node-self::after {
  display: block;
  position: absolute;
  content: '';
}

.node-self::after {
  background: #7a7a7a;
  border-radius: 50%;
  top: 8px;
  left: -23px;
  width: 7px;
  height: 7px;
}

.node-self::before {
  background: #fff;
  top: 0;
  left: -30px;
  width: 22px;
  height: 22px;
}
